<style type="text/css">
img.icon {
	width: 100px; 
	height: 100px;
	background-color: lightgray;
	border-radius: 15px;
}

table th {
	width: 15%;
	vertical-align: top;
	padding-bottom: 5px;
	padding-right: 15px;
	text-align: right;
}

table td {
	vertical-align: top;
}

</style>

<script>
</script>

<img class="icon" data-src="holder.js/100x100"/>
<br />
<br />

<div class="col-lg-6">
<table>
	<tr>
		<th>软件名：</th>
		<td><span id="app-name">Samba</span></td>
	</tr>
	<tr>
		<th>描述：</th>
		<td><p id="app-desc">Samba client for fsaf fasfsadfas fas fdsafasd fasd fas fdas fas fdasf as dfasdfa sdfa sdfasf asdf asd fas dfas f</p></td>
	</tr>
	<tr>
		<th>发布日期：</th>
		<td><span id="app-pub-date">2013-10-09 12:10:10</span></td>
	</tr>
	<tr>
		<th>更新日期：</th>
		<td><span id="app-update-date">2013-10-09 12:10:10</span></td>
	</tr>
	<tr>
		<th>版本：</th>
		<td><span id="app-version">1.2.2</span></td>
	</tr>
	<tr>
		<th>Router：</th>
		<td><a id="app-router-url" href="#">http://www.example</a></td>
	</tr>
	<tr>
		<th>IOS：</th>
		<td><a id="app-ios-url" href="#">http://www.example</a></td>
	</tr>
	<tr>
		<th>Android：</th>
		<td><a id="app-ios-url" href="#">http://www.example</a></td>
	</tr>
</table>
</div>