
<style>
#login-form {
	margin: 20px;
}
#title {
	text-align: center;
	font-weight: bolder;
	font-size: 18px;
}
</style>

<div class="row">

<div class="col-lg-4 col-lg-offset-4">
	<div class="panel panel-info">
		<div class="panel-heading" id="title">用户登录</div>
		<div id="login-form">
			<form role="form" method="post">
			  <div class="form-group">
			    <label for="username">用户名</label>
			    <input type="text" class="form-control" id="username" name="username" placeholder="Username">
			  </div>
			  <div class="form-group">
			    <label for="password">密码</label>
			    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
			  </div>
			  <div>
			  	<button type="submit" class="btn btn-default">登录</button>
			  </div>
			</form>
		</div>
	</div>
</div>
<div>