<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload-process.js"></script>
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">

<style>
#nav-app > a {
	font-weight: bold;
	color: green;
}

#icon-img {
	border-radius: 15px;
}

.progress {width: 80px; margin-top: 5px}
</style>

<script>
$(function() {
	$(".progress").hide()
	$(".btn-del").hide()
	
	$("#icon-fileupload").fileupload({
		url: '/file/upload',
		dataType: 'json',
		acceptFileTypes: /(\.|\/)(jpg|png)$/i,
		add: function(e, data) {
			$("#pub-btn").attr("disabled", "disabled")
			$('#icon-progress .progress-bar').css('width', '0%')
			$("#icon-progress").show()
			data.submit()
		},
		progress: function(e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10)
			$('#icon-progress .progress-bar').css(
				'width',
				progress + '%'
			)
		},
		done: function(e, data) {
			$.each(data.result.files, function(index, file) {
				$("#icon-img").attr("src", file.thumbnailUrl)
				$("#icon").attr("value", file.fid)
			})
			$("#btn-icon-del").show()
			$("#btn-icon-fileupload").hide()
			$("#pub-btn").attr("disabled", null)
		}
	})
	$("#router-fileupload").fileupload({
		url: '/file/upload',
		dataType: 'json',
		add: function(e, data) {
			$("#pub-btn").attr("disabled", "disabled")
			$('#router-progress .progress-bar').css('width', '0%')
			$("#router-progress").show()
			data.submit()
		},
		progress: function(e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10)
			$('#router-progress .progress-bar').css(
				'width',
				progress + '%'
			)
		},
		done: function(e, data) {
			$.each(data.result.files, function(index, file) {
				$("#router-filename").text(file.name)
				$("#router").attr("value", file.fid)
			})
			$("#btn-router-del").show()
			$("#btn-router-fileupload").hide()
			$("#pub-btn").attr("disabled", null)
		}
	})
	$("#ios-fileupload").fileupload({
		url: '/file/upload',
		dataType: 'json',
		add: function(e, data) {
			$("#pub-btn").attr("disabled", "disabled")
			$('#ios-progress .progress-bar').css('width', '0%')
			$("#ios-progress").show()
			data.submit()
		},
		progress: function(e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10)
			$('#ios-progress .progress-bar').css(
				'width',
				progress + '%'
			)
		},
		done: function(e, data) {
			$.each(data.result.files, function(index, file) {
				$("#ios-filename").text(file.name)
				$("#ios").attr("value", file.fid)
			})
			$("#btn-ios-del").show()
			$("#btn-ios-fileupload").hide()
			$("#pub-btn").attr("disabled", null)
		}
	})
	$("#android-fileupload").fileupload({
		url: '/file/upload',
		dataType: 'json',
		add: function(e, data) {
			$("#pub-btn").attr("disabled", "disabled")
			$('#android-progress .progress-bar').css('width', '0%')
			$("#android-progress").show()
			data.submit()
		},
		progress: function(e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10)
			$('#android-progress .progress-bar').css(
				'width',
				progress + '%'
			)
		},
		done: function(e, data) {
			$.each(data.result.files, function(index, file) {
				$("#android-filename").text(file.name)
				$("#android").attr("value", file.fid)
			})
			$("#btn-android-del").show()
			$("#btn-android-fileupload").hide()
			$("#pub-btn").attr("disabled", null)
		}
	})
	
	$("#pub-btn").click(function() {
		$("#pub-btn").attr("disabled", "disabled")
		var app = {"name": $("#app-name").val(), 
				"description": $("#app-desc").val(),
				"version": $("#app-ver").val(), 
				"icon": $("#icon").val(),
				"url": $("#router").val(),
				"iurl": $("#ios").val(),
				"aurl": $("#android").val()}
		$.post("/app/pub",
			$.toJSON(app),
			function(data, status){
				if (status == "success") {
					if (data['r'] != 0) {
						alert("发布失败!" + data['err'])
					} else {
						alert("发布成功！")
					}
				} else {
					alert("发布失败!" + status)
				}
				$("#pub-btn").attr("disabled", null)
			}
		)
	})
	
	$("#btn-icon-del").click(function(){
		$("#pub-btn").attr("disabled", "disabled")
		fid = $("#icon").attr("value")
		$.getJSON("/file/del/"+fid, function(data){
			var r = data['r']
			if (r != 0) {
				alert("删除失败！" + data['err'])
				return
			}
			$("#btn-icon-del").hide()
			$("#icon-progress").hide()
			$("#icon").attr("value", "")
			$("#btn-icon-fileupload").show()
			$("#pub-btn").attr("disabled", null)
		})
	})
	$("#btn-router-del").click(function(){
		$("#pub-btn").attr("disabled", "disabled")
		fid = $("#router").attr("value")
		$.getJSON("/file/del/"+fid, function(data){
			var r = data['r']
			if (r != 0) {
				alert("删除失败！" + data['err'])
				return
			}
			$("#btn-router-del").hide()
			$("#router-progress").hide()
			$("#router-filename").text("")
			$("#router").attr("value", "")
			$("#btn-router-fileupload").show()
			$("#pub-btn").attr("disabled", null)
		})
	})
	$("#btn-ios-del").click(function(){
		$("#pub-btn").attr("disabled", "disabled")
		fid = $("#ios").attr("value")
		$.getJSON("/file/del/"+fid, function(data){
			var r = data['r']
			if (r != 0) {
				alert("删除失败！" + data['err'])
				return
			}
			$("#btn-ios-del").hide()
			$("#ios-progress").hide()
			$("#ios-filename").text("")
			$("#ios").attr("value", "")
			$("#btn-ios-fileupload").show()
			$("#pub-btn").attr("disabled", null)
		})
	})
	$("#btn-android-del").click(function(){
		$("#pub-btn").attr("disabled", "disabled")
		fid = $("#android").attr("value")
		$.getJSON("/file/del/"+fid, function(data){
			var r = data['r']
			if (r != 0) {
				alert("删除失败！" + data['err'])
				return
			}
			$("#btn-android-del").hide()
			$("#android-progress").hide()
			$("#android-filename").text("")
			$("#android").attr("value", "")
			$("#btn-android-fileupload").show()
			$("#pub-btn").attr("disabled", null)
		})
	})
})
</script>
<span class="text-danger" id="warning"></span>
<form class="form-horizontal" role="form" method="post">
	<div class="col-1g-2 col-lg-offset-1">
		<img id="icon-img" data-src="holder.js/80x80" alt="">
		&nbsp;
		<span class="btn btn-success fileinput-button" id="btn-icon-fileupload">
        		<span>Icon</span>
        		<!-- The file input field used as target for the file upload widget -->
        		<input id="icon-fileupload" type="file" name="file">
			<input type="hidden" id="icon" name="icon" value="">
    		</span>
		<button type="button" class="btn btn-link btn-xs btn-del" id="btn-icon-del">
			删除
		</button>
	</div>
	<div class="col-lg-offset-1 progress progress-striped" id="icon-progress">
		<div class="progress-bar progress-bar-success" role="progressbar"></div>
	</div>
	<br />
	<div class="form-group">
		<label for="app-name" class="col-lg-1 control-label">软件名</label>
		<div class="col-lg-6">
			<input type="text" class="form-control" id="app-name" name="name" placeholder="App Name">
		</div>
	</div>
	<div class="form-group">
		<label for="app-desc" class="col-lg-1 control-label">软件描述</label>
		<div class="col-lg-6">
			<textarea class="form-control" id="app-desc" name="description" rows="6" placeholder="App Description"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="app-ver" class="col-lg-1 control-label">版本</label>
		<div class="col-lg-3">
			<input type="text" class="form-control" id="app-ver" name="version" placeholder="App Version">
		</div>
		
	</div>
	<div class="form-group">
		<label for="btn-router-fileupload" class="col-lg-1 control-label">Router</label>
		<div class="col-lg-6">
			<span class="btn btn-success fileinput-button" id="btn-router-fileupload">
	        		<span>Router App</span>
	        		<!-- The file input field used as target for the file upload widget -->
	        		<input id="router-fileupload" type="file" name="file">
				<input type="hidden" id="router" name="url" value="">
	    		</span>
			<span id="router-filename"></span>
			<button type="button" class="btn btn-link btn-xs btn-del" id="btn-router-del">
				删除
			</button>
			<div class="progress progress-striped pull-right" id="router-progress">
				<div class="progress-bar progress-bar-success" role="progressbar"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="btn-ios-fileupload" class="col-lg-1 control-label">IOS</label>
		<div class="col-lg-6">
			<span class="btn btn-success fileinput-button" id="btn-ios-fileupload">
	        		<span>IOS App</span>
	        		<!-- The file input field used as target for the file upload widget -->
	        		<input id="ios-fileupload" type="file" name="file">
				<input type="hidden" id="ios" name="iurl" value="">
	    		</span>
			<span id="ios-filename"></span>
			<button type="button" class="btn btn-link btn-xs btn-del" id="btn-ios-del">
				删除
			</button>
			<div class="progress progress-striped pull-right" id="ios-progress">
				<div class="progress-bar progress-bar-success" role="progressbar"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="btn-android-fileupload" class="col-lg-1 control-label">Android</label>
		<div class="col-lg-6">
			<span class="btn btn-success fileinput-button" id="btn-android-fileupload">
	        		<span>Android App</span>
	        		<!-- The file input field used as target for the file upload widget -->
	        		<input id="android-fileupload" type="file" name="file">
				<input type="hidden" id="android" name="aurl" value="">
	    		</span>
			<span id="android-filename"></span>
			<button type="button" class="btn btn-link btn-xs btn-del" id="btn-android-del">
				删除
			</button>
			<div class="progress progress-striped pull-right" id="android-progress">
				<div class="progress-bar progress-bar-success" role="progressbar"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-6 col-lg-2">
			&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="pub-btn" class="btn btn-info">发布</button>
		</div>
	</div>
</form>