<script src="/js/vendor/jquery.ui.widget.js"></script>
<script src="/js/jquery.fileupload.js"></script>
<script src="/js/jquery.iframe-transport.js"></script>
<script src="/js/jquery.fileupload-process.js"></script>
<link rel="stylesheet" href="/css/jquery.fileupload-ui.css">

<style>
#nav-app a {
	font-weight: bold;
	color: green;
}

.progress {width: 80px; margin-top: 5px}
</style>

<script>
$(function() {
	$(".progress").hide()
	$("#btn-app-del").hide()
	$("#btn-icon-del").hide()
	
	$("#icon-fileupload").fileupload({
		url: '/file/upload',
		dataType: 'json',
		acceptFileTypes: /(\.|\/)(jpg|png)$/i,
		add: function(e, data) {
			$('#icon-progress .progress-bar').css('width', '0%')
			$("#icon-progress").show()
			data.submit()
		},
		progress: function(e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10)
			$('#icon-progress .progress-bar').css(
				'width',
				progress + '%'
			)
		},
		done: function(e, data) {
			$.each(data.result.files, function(index, file) {
				$("#icon-img").attr("src", file.thumbnailUrl)
				$("#icon").attr("value", file.fid)
			})
			$("#btn-icon-del").show()
			$("#btn-icon-fileupload").hide()
		}
	})
	
	$("#app-fileupload").fileupload({
		url: '/file/upload',
		dataType: 'json',
		add: function(e, data) {
			$('#app-progress .progress-bar').css('width', '0%')
			$("#app-progress").show()
			data.submit()
		},
		progress: function(e, data) {
			var progress = parseInt(data.loaded / data.total * 100, 10)
			$('#app-progress .progress-bar').css(
				'width',
				progress + '%'
			)
		},
		done: function(e, data) {
			$.each(data.result.files, function(index, file) {
				$("#app-filename").text(file.name)
				$("#app").attr("value", file.fid)
			})
			$("#btn-app-del").show()
			$("#btn-app-fileupload").hide()
		}
	})
	
	$("#pub-btn").click(function() {
		var app = {"name": $("#app-name").val(), 
				"description": $("#app-desc").val(),
				"version": $("#app-ver").val(), 
				"icon": $("#icon").val(),
				"url": $("#app").val()}
		$.post("/app/pub",
			$.toJSON(app),
			function(data, status){
				if (status == "success") {
					alert("发布成功！")
				} else {
					alert("发布失败!" + status)
				}
			}
		)
	})
	
	$("#btn-icon-del").click(function(){
		fid = $("#icon").attr("value")
		$.getJSON("/file/del/"+fid, function(data){
			var r = data['r']
			if (r != 0) {
				alert("删除失败！")
				return
			}
			$("#btn-icon-del").hide()
			$("#icon-progress").hide()
			$("#icon").attr("value", "")
			$("#btn-icon-fileupload").show()
		})
	})
	$("#btn-app-del").click(function(){
		fid = $("#app").attr("value")
		$.getJSON("/file/del/"+fid, function(data){
			var r = data['r']
			if (r != 0) {
				alert("删除失败！")
				return
			}
			$("#btn-app-del").hide()
			$("#app-progress").hide()
			$("#app-filename").text("")
			$("#app").attr("value", "")
			$("#btn-app-fileupload").show()
		})
	})
})
</script>
<span class="text-danger" id="warning"></span>
<form class="form-horizontal" role="form" method="post">
	<div class="col-1g-2 col-lg-offset-1">
		<img id="icon-img" data-src="holder.js/80x80" alt="">
		&nbsp;
		<span class="btn btn-success fileinput-button" id="btn-icon-fileupload">
        		<span>Icon</span>
        		<!-- The file input field used as target for the file upload widget -->
        		<input id="icon-fileupload" type="file" name="file">
			<input type="hidden" id="icon" name="icon" value="">
    		</span>
		<button type="button" class="btn btn-link btn-xs btn-del" id="btn-icon-del">
			<span class="glyphicon glyphicon-remove">删除</span>
		</button>
	</div>
	<div class="col-lg-offset-1 progress progress-striped" id="icon-progress">
		<div class="progress-bar progress-bar-success" role="progressbar"></div>
	</div>
	<br />
	<div class="form-group">
		<label for="app-name" class="col-lg-1 control-label">软件名</label>
		<div class="col-lg-6">
			<input type="text" class="form-control" id="app-name" name="name" placeholder="App Name">
		</div>
	</div>
	<div class="form-group">
		<label for="app-desc" class="col-lg-1 control-label">软件描述</label>
		<div class="col-lg-6">
			<textarea class="form-control" id="app-desc" name="description" rows="6" placeholder="App Description"></textarea>
		</div>
	</div>
	<div class="form-group">
		<label for="app-name" class="col-lg-1 control-label">版本</label>
		<div class="col-lg-3">
			<input type="text" class="form-control" id="app-ver" name="version" placeholder="App Version">
		</div>
		
	</div>
	<div class="form-group">
		<label for="app-desc" class="col-lg-1 control-label">Router File</label>
		<div class="col-lg-6">
			<span class="btn btn-success fileinput-button" id="btn-app-fileupload">
	        		<span>App File</span>
	        		<!-- The file input field used as target for the file upload widget -->
	        		<input id="app-fileupload" type="file" name="file">
				<input type="hidden" id="app" name="url" value="">
	    		</span>
			<span id="app-filename"></span>
			<button type="button" class="btn btn-link btn-xs btn-del" id="btn-app-del">
				<span class="glyphicon glyphicon-remove">删除</span>
			</button>
			<div class="progress progress-striped pull-right" id="app-progress">
				<div class="progress-bar progress-bar-success" role="progressbar"></div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-lg-offset-6 col-lg-2">
			&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" id="pub-btn" class="btn btn-info">发布</button>
		</div>
	</div>
</form>