<script>
$(function() {
	$.getJSON("/routers", function(data){
		var routers = data['result']
		$.each(routers, function(i, router) {
			var tr = $("<tr>")
			tr.append($("<td>").text(router['id']))
			tr.append($("<td>").text(router['mac']))
			tr.append($("<td>").text(router['ip']))
			var cur_upload = router['cur_upload'] / (1024 * 1024)
			var cur_download = router['cur_download'] / (1024 * 1024)
			tr.append($("<td>").text(cur_upload.toFixed(2) + "/" + cur_download.toFixed(2)))
			var upload = router['upload'] / (1024 * 1024)
			var download = router['download'] / (1024 * 1024)
			tr.append($("<td>").text(upload.toFixed(2) + "/" + download.toFixed(2)))
			if (router['online'])
				tr.append($("<td>").text('Y'))
			else
				tr.append($("<td>").text('N'))
			tr.append($("<td>").text(router['login_time']))
			$("#tbody").append(tr)
		})
	})
})
</script>

<style>
#nav-router a {
	font-weight: bold;
	color: green;
}
</style>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IMEI</th>
            <th>MAC</th>
            <th>IP</th>
            <th>Current(&uarr;/&darr; MB)</th>
            <th>Total(&uarr;/&darr; MB)</th>
            <th>Online</th>
            <th>Login Time</th>
        </tr>
    </thead>
    <tbody id="tbody">
    </tbody>
</table>