<script>
$(function() {
	$.getJSON("/router/list", function(data){
		var routers = data['result']
		$.each(routers, function(i, router) {
			var tr = $("<tr>")
			tr.append($("<td>").text(router['id']))
			tr.append($("<td>").text(router['mac']))
			tr.append($("<td>").text(router['ip']))
			tr.append($("<td>").text(router['download']))
			tr.append($("<td>").text(router['upload']))
			if (router['online'])
				tr.append($("<td>").text('Y'))
			else
				tr.append($("<td>").text('N'))
			tr.append($("<td>").text(router['login_time']))
			$("#tbody").append(tr)
		})
	})
})
</script>

<table class="table table-striped">
    <thead>
        <tr>
            <th>IMEI</th>
            <th>MAC</th>
            <th>IP</th>
            <th>Download(C/T)</th>
            <th>Upload(C/T)</th>
            <th>Online</th>
            <th>Login Time</th>
        </tr>
    </thead>
    <tbody id="tbody" >
		<tr>
    </tbody>
</table>