<script>
$(function(){
	
	var url = window.location.href
	var id = url.substring(url.lastIndexOf("/") + 1, url.length)
	$.getJSON("/router/" + id, function(data) {
		var router = data['result']
		if (data['r'] != 0) {
			alert("获取信息失败！" + data['err'])
			return
		}
		$("#imei").text(router['id'])
		$("#mac").text(router['mac'])
		$("#ip").text(router['ip'])
		var cur_upload = router['cur_upload'] / (1024 * 1024)
		var cur_download = router['cur_download'] / (1024 * 1024)
		$("#current").text(cur_upload.toFixed(2) + "/" + cur_download.toFixed(2))
		$("#duration").text(parseDuration(router['duration']))
		$("#login").text(router['login_time'])
		$.each(router['users'], function(i, user) {
			var tr = $("<tr>")
			tr.append($("<td>").text(user['mac']))
			tr.append($("<td>").text(user['ip']))
			tr.append($("<td>").text(parseDuration(user['duration'])))
			tr.append($("<td>").text(user['device']))
			$("#users-tbody").append(tr)
		})
	})
	
})
</script>

<style>
#nav-router a {
	font-weight: bold;
	color: green;
}

#tbody tr td {
	padding-right: 20px;
}

span.title {
	font-weight: bold;
}
</style>

<table>
	<tbody id="tbody">
		<tr class="active">
			<td><span class="title">IMEI: </span><span id="imei"></span></td>
			<td><span class="title">MAC: </span><span id="mac"></span></td>
			<td><span class="title">IP: </span><span id="ip"></span></td>
			<td><span class="title">Current(&uarr;/&darr; MB): </span><span id="current"></span></td>
			<td><span class="title">Duration: </span><span id="duration"></span></td>
			<td><span class="title">Login: </span><span id="login"></span></td>
		</tr>
	</tbody>
<table>
<br/>
<span>用户列表</span>
<table class="table table-striped">
    <thead>
        <tr>
            <th>MAC</th>
            <th>IP</th>
			<th>Duration</th>
			<th>Device Name</th>
        </tr>
    </thead>
    <tbody id="users-tbody">
    </tbody>
</table>